[Unit]
Description=Go mlayer client
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
ExecStart=/path/to/executable daemon --network-private-key your_pkey
Restart=always
RestartSec=5
User=username
WorkingDirectory=/path/to/workingdir

[Install]
WantedBy=multi-user.target